/* HERO */
.hero {
  padding: 40px;
  padding-bottom: 0;
  background-color: var(--blue);
  color: var(--white);
  text-align: center;
}

.text-container {
  padding: 40px;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.text-container p {
  line-height: 30px;
}

.register {
  padding: 16px 25px;
  background-color: var(--black);
  color: var(--white);
  cursor: pointer;
  margin-bottom: 40px;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero img {
  max-width: 40%;
  mix-blend-mode: luminosity;
}

/* LIST */

.list {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--light-green);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.icon-container {
  max-width: 250px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  line-height: 27px;
}

.icon {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  margin-bottom: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--light-gray);
}

.icon img {
  width: 50%;
  height: 50%;
}

.customer {
  background-color: var(--green);
}

/* SERVICES */

.services {
  padding: 20px;
}

.services article {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  margin-bottom: 50px;
}

.card__text a {
  text-decoration: none;
  color: var(--blue);
  font-weight: 500;
  margin-bottom: 20px;
  line-height: 1.75rem;
}

.services article img {
  display: flex;
  align-self: center;
  max-width: 50%;
  width: 50%;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  /* LIST */
  main .list .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
  }

  /* SERVICES */
  main .services article {
    flex-direction: row;
  }

  .services article img {
    width: 35%;
    max-width: 35%;
  }
}

@media screen and (min-width: 1281px) {
  /* HERO */
  main .hero .register {
    margin-bottom: 200px;
  }

  main .hero .img-container .right {
    position: absolute;
    bottom: 80px;
    right: -100px;
  }

  main .hero .img-container .left {
    position: absolute;
    bottom: 0px;
    left: -100px;
  }

  /* SERVICES */
  main .services {
    padding-top: 80px;
  }

  main .services article {
    flex-direction: row;
    margin-bottom: 40px;
    gap: 121px;
  }

  main .services article:nth-of-type(even) {
    flex-direction: row-reverse;
  }

  .card__text {
    width: calc(40% - 121px);
  }
  .card__image {
    width: 60%;
  }
}
